ConfigArgParse==1.7
daisy==1.1.1
fibsem_tools==7.0.2
funlib.geometry==0.3.0
funlib.math==0.1
funlib.persistence==0.4.0
funlib.show.neuroglancer==0.1
neuroglancer==2.39.2
numcodecs==0.12.1
Pillow==10.4.0
pymongo==4.6.0
pytest==7.3.1
quilt3==5.4.0
scikit_learn==1.2.2
scipy==1.14.0
setuptools==68.0.0
skimage==0.0
streamlit==1.36.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
tqdm==4.66.2
zarr==2.18.2
